<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {{ content}}

    <footer>
        <p>Built by <a href="https://twitter.com/karangoel" target="_blank">@karangoel</a>. Inspired by <a href="https://1mb.club" target="_blank">1mb.club</a>.</p></footer>
  </body>
</html>
